@charset "utf-8";

/*==================================html元素css属性重置==========================================*/


/* CSS Document */

* {
    word-break: break-all;
    /*支持IE，chrome，FF不支持*/
    word-wrap: break-word;
    /*支持IE，chrome，FF*/
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    font-size: 10px;
    /*设置页面跟路径的字体大小*/
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "PingFang SC", "Adobe 黑体 Std R", "Microsoft YaHei", sans-serif, "PingFang SC";
    background-color: #F5F3F3;
    height: 100%;
    text-align: left;
    -webkit-text-size-adjust: 100% !important;
    /* 禁止微信调整字体大小 */
    text-size-adjust: 100% !important;
    -moz-text-size-adjust: 100% !important;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "PingFang", "Adobe 黑体 Std R", "Microsoft YaHei", sans-serif;
}

td,
th,
caption {
    font-size: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 1em;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
i {
    font-style: normal;
    font-weight: normal;
}

img {
    border: none;
    display: block;
    max-width: 100%;
}

ol,
ul,
li {
    list-style: none;
}

input,
textarea,
select,
button,
option {
    font-size: 1em;
    outline: none;
}

input,
button,
textarea {
    font-size: 14px;
    border: 0;
}

textarea {
    resize: none;
}

table {
    border-collapse: collapse;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
}

a {
    text-decoration: none;
    color: #666;
    border: none;
}

a:active {
    border: none;
}

a:link {
    border: none;
}

a:hover {
    text-decoration: none;
}

::-webkit-input-placeholder {
    color: #bfbfbf;
}

:-moz-placeholder {
    color: #bfbfbf;
}

::-moz-placeholder {
    color: #bfbfbf;
}

:-ms-input-placeholder {
    color: #bfbfbf;
}